<div class="container-fluid main p-3">
  <h1 class="px-5"><strong>Seus produtos:</strong></h1>
  <div class="p-5">
    <div
      class="p-4 rounded"
      style="background-color: #e8e8e8; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;"
    >
      <form>
        <!-- Aplica *ngIf à tabela -->
        <div class="d-flex justify-content-center align-items-center">
          <table *ngIf="products.length > 0" class="table table-striped table-bordered text-center">
            <thead>
            <tr>
              <th scope="col">Categoria</th>
              <th scope="col">SKU</th>
              <th scope="col">Descrição</th>
              <th scope="col">Variação</th>
              <th scope="col">Observação</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let product of products">
              <td class="align-middle w-auto">{{ product.categoria }}</td>
              <td class="align-middle w-auto">{{ product.sku }}</td>
              <td class="align-middle w-auto">{{ product.descricao }}</td>
              <td class="align-middle w-auto">{{ product.variacao }}</td>
              <td class="align-middle w-auto">{{ product.observacao }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <!-- Mensagem quando não há produtos -->
        <div *ngIf="products.length === 0" class="text-center">
          <p>Nenhum produto adicionado</p>
        </div>

        <a
          [routerLink]="['/dashboard/register-products']"
          class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2"
          role="button"
          style="width: 247px; height: 37px;"
        >
          <i class="bi bi-archive"></i>
          Cadastrar produto
        </a>
      </form>
    </div>
  </div>
</div>
