# Arquivo .gitignore configurado para ignorar .tsbuildinfo e outros arquivos/desnecessários

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignorar o diretório de configurações do IntelliJ IDEA
.idea/

# Angular cache files
.angular/cache

# Compiled output
/dist
/out-tsc

# NPM packages
node_modules

# IDE specific files (optional)
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# Temporary files
temp
tmp

# TypeScript build info file
.tsbuildinfo
