<div
  class="modal fade"
  id="modalNotifications"
  tabindex="-1"
  aria-labelledby="modalNotificationsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalNotificationsLabel">
          Bem-vindo(a) {{ userName }}! 👋
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae arcu quis justo tincidunt aliquet. Sed
        fringilla eros non dolor consequat, eu dictum elit vestibulum. Ut vel ligula vitae justo sodales convallis. In
        hac habitasse platea dictumst.
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
