<div class="container-fluid main p-3">
  <h1 class="px-5"><strong>Suas cotações:</strong></h1>
  <div class="p-5">
    <div
      class="p-4 rounded"
      style="background-color: #e8e8e8; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;"
    >
      <form>

        <!-- Aplica *ngIf à tabela -->
        <table *ngIf="quotations.length > 0" class="table table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col">Número</th>
            <th scope="col">Data</th>
            <th scope="col">Produtos</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let quotation of quotations">
            <td>{{ quotation.numero }}</td>
            <td>{{ quotation.data }}</td>
            <td>
              <div *ngFor="let produto of quotation.produtos">
                <p>ID Produto: {{ produto.id_produto }} - Quantidade: {{ produto.quantidade }}</p>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- Mensagem quando não há cotações -->
        <div *ngIf="quotations.length === 0" class="text-center">
          <p>Nenhuma cotação adicionada</p>
        </div>

        <a
          [routerLink]="['/dashboard/quotation']"
          class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2"
          role="button"
          style="width: 247px; height: 37px;"
        >
          <i class="bi bi-archive"></i>
          Realizar cotação
        </a>
      </form>
    </div>
  </div>
</div>
