<!-- Modal -->
<div
  class="modal fade"
  id="modalNotifications"
  tabindex="-1"
  aria-labelledby="modalNotificationsLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalNotificationsLabel">
          Bem-vindo(a) {{ userName }}! 👋
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Se você tiver alguma dúvida ou precisar de assistência, estamos à
        disposição.
        <hr />
        Nosso sistema está em constante evolução. A sua opinião é muito
        importante para nós, por isso, sinta-se à vontade para enviar sugestões.
        Aproveite ao máximo o sistema! ⚙️
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
