<aside id="sidebar" [class.expand]="isExpanded">
  <div class="d-flex">
    <button class="toggle-btn" type="button" (click)="toggleSidebar()">
      <i class="bi bi-layout-sidebar-reverse"></i>
    </button>
    <div class="sidebar-logo">
      <span class="fs-5 text-white">QuoteFlow</span>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a
        [routerLink]="['/dashboard/notifications']"
        routerLinkActive="active"
        class="sidebar-link"
      >
        <i class="bi bi-bell-fill"></i>
        <span class="fs-5 text">Notificações</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a
        [routerLink]="['/dashboard/panel']"
        routerLinkActive="active"
        class="sidebar-link"
      >
        <i class="bi bi-reception-4"></i>
        <span class="fs-5 text">Painel</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a
        [routerLink]="['/dashboard/profile']"
        routerLinkActive="active"
        class="sidebar-link"
      >
        <i class="bi bi-person-fill"></i>
        <span class="fs-5 text">Perfil</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a
        [routerLink]="['/dashboard/register-companies']"
        routerLinkActive="active"
        class="sidebar-link"
      >
        <i class="bi bi-building-add"></i>
        <span class="fs-5 text">Cadastrar Empresa</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a
        [routerLink]="['/dashboard/register-products']"
        routerLinkActive="active"
        class="sidebar-link"
      >
        <i class="bi bi-box-seam"></i>
        <span class="fs-5 text">Cadastrar Produto</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a
        [routerLink]="['/dashboard/quotation']"
        routerLinkActive="active"
        class="sidebar-link"
      >
        <i class="bi bi-file-earmark-spreadsheet"></i>
        <span class="fs-5 text">Cotação</span>
      </a>
    </li>

    <li class="sidebar-item">
      <a
        [routerLink]="['/dashboard/settings']"
        routerLinkActive="active"
        class="sidebar-link"
      >
        <i class="bi bi-gear-fill"></i>
        <span class="fs-5 text">Configurações</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a [routerLink]="['/']" class="sidebar-link">
      <i class="bi bi-box-arrow-left"></i>
      <span class="fs-5 text">Logout</span>
    </a>
  </div>
</aside>
