<div class="container-fluid main p-3">
  <div>
    <div>
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Cotações</li>
          <li class="breadcrumb-item"><a href="">Histórico de cotações</a></li>
        </ol>
      </nav>

      <h1 class="px-5"><strong>Solicitar cotação:</strong></h1>

      <!-- Abas -->
      <ul class="nav nav-tabs mt-3 px-5" style="border-bottom: none;">
        <li class="nav-item">
          <a class="nav-link active" data-bs-toggle="tab" href="#tab-quotation">Solicitar Cotação</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#tab-second">Enviar cotação</a>
        </li>
      </ul>

      <div class="tab-content px-5">
        <div class="tab-pane fade show active" id="tab-quotation">
          <div
            class="p-4 rounded"
            style="background-color: #e8e8e8; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;"
          >
            <!-- Formulário de Cotações -->
            <form [formGroup]="quotationForm" (ngSubmit)="onSubmit()">
              <div class="d-flex flex-column">
                <div class="d-flex flex-wrap gap-3 mb-3">
                  <div class="d-flex flex-column flex-grow-1 mb-3">
                    <label class="form-label"><strong> * </strong>Código SKU:</label>
                    <input
                      type="text"
                      formControlName="skuCode"
                      class="form-control mb-2"
                      placeholder="YYY.Y.YY"
                      mask="AAA.A.AA"
                      (input)="onInputChange()"
                      [disabled]="isQuotationStarted"
                    />
                    <div
                      *ngIf="
                        quotationForm.get('skuCode')?.touched &&
                        quotationForm.get('skuCode')?.invalid
                      "
                      class="alert alert-danger alert-small"
                      role="alert"
                    >
                      Código SKU é <strong>obrigatório</strong>.
                    </div>
                  </div>

                  <div class="d-flex flex-column flex-grow-1 mb-3">
                    <label class="form-label"><strong> * </strong>Quantidade:</label>
                    <input
                      type="number"
                      min="1"
                      formControlName="quantity"
                      class="form-control mb-2"
                      placeholder="100"
                      [disabled]="isQuotationStarted"
                    />
                    <div
                      *ngIf="
                        quotationForm.get('quantity')?.touched &&
                        quotationForm.get('quantity')?.invalid
                      "
                      class="alert alert-danger alert-small"
                      role="alert"
                    >
                      Quantidade deve ser maior que zero.
                    </div>
                  </div>
                </div>

                <!-- Botões com Flexbox para ajustar -->
                <div class="d-flex gap-3">
                  <button
                    type="button"
                    class="btn btn-success d-flex align-items-center justify-content-center gap-2"
                    data-bs-toggle="modal"
                    data-bs-target="#openQuotationModal"
                    [disabled]="isQuotationStarted"
                  >
                    <i class="bi bi-arrow-right-circle-fill"></i>
                    Começar
                  </button>

                  <button
                    type="button"
                    class="btn btn-danger d-flex align-items-center justify-content-center gap-2"
                    data-bs-toggle="modal"
                    data-bs-target="#closeQuotationModal"
                    [disabled]="!isQuotationStarted"
                  >
                    <i class="bi bi-x-circle-fill"></i>
                    Finalizar
                  </button>

                  <button
                    type="submit"
                    class="btn btn-success d-flex align-items-center justify-content-center gap-2"
                    [disabled]="!isAddButtonEnabled"
                  >
                    <i class="bi bi-bag-plus-fill"></i>
                    Adicionar produto
                  </button>

                  <button
                    type="button"
                    class="btn btn-secondary d-flex align-items-center justify-content-center gap-2"
                    [routerLink]="'/dashboard/quotations'"
                    [disabled]="isQuotationStarted"
                  >
                    <i class="bi bi-arrow-left"></i>
                    Voltar
                  </button>
                </div>
              </div>
            </form>

            <hr>

            <!-- Tabela de Produtos -->
            <div *ngIf="products.length > 0" class="table-responsive mt-4">
              <h4>Produtos adicionados:</h4>
              <table class="table table-striped mt-4">
                <thead>
                <tr class="text-center">
                  <th scope="col">Código SKU</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Variação</th>
                  <th scope="col">Observação</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of products;">
                  <td class="text-center align-middle w-auto">{{ product.sku }}</td>
                  <td class="text-center align-middle w-auto">{{ product.quantidade }}</td>
                  <td class="text-center align-middle w-auto">{{ product.descricao }}</td>
                  <td class="text-center align-middle w-auto">{{ product.variacao }}</td>
                  <td class="text-center align-middle w-auto">{{ product.observacao }}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="tab-second">
          <div
            class="p-4 rounded"
            style="background-color: #e8e8e8; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;"
          >
            <!-- Menu de Empresas com Checkboxes -->
            <div class="mb-3">
              <label class="form-label"><strong>Selecione as empresas destinatárias:</strong></label>
              <div *ngFor="let empresa of empresas">
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [id]="'empresa-' + empresa.id_empresa"
                    [value]="empresa.id_empresa"
                    [(ngModel)]="empresa.selected"
                  />
                  <label class="form-check-label" [for]="'empresa-' + empresa.id_empresa">
                    {{ empresa.nome }}
                  </label>
                </div>
              </div>
            </div>

            <!-- Botões de Enviar e Cancelar -->
            <div class="d-flex justify-content-between">
              <button
                type="button"
                class="btn btn-success d-flex align-items-center justify-content-center gap-2"
                (click)="inserirDestinatariosNaCotacao()"
              >
                <i class="bi bi-arrow-right-circle-fill"></i>
                Enviar
              </button>

              <button
                type="button"
                class="btn btn-secondary d-flex align-items-center justify-content-center gap-2"
                data-bs-toggle="modal"
                data-bs-target="#cancelQuotationModal"
              >
                <i class="bi bi-x-circle-fill"></i>
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- Modal de Confirmação para abrir a cotação -->
  <div class="modal fade" id="openQuotationModal" tabindex="-1" aria-labelledby="openQuotationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="openQuotationModalLabel">Atenção!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Certifique-se de que todos os produtos foram cadastrados antes de iniciar a cotação.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="openQuotation()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Confirmação para fechar a cotação -->
  <div class="modal fade" id="closeQuotationModal" tabindex="-1" aria-labelledby="closeQuotationModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="closeQuotationModalLabel">Atenção!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Tem certeza que deseja parar a cotação?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="closeQuotation()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Confirmação para cancelar a cotação -->
<div class="modal fade" id="cancelQuotationModal" tabindex="-1" aria-labelledby="closeQuotationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelQuotationModalLabel">Atenção!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja cancelar a cotação?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="cancelQuotation()">Confirmar</button>
      </div>
    </div>
  </div>
</div>
