<div
  class="container d-flex flex-column flex-md-row justify-content-center align-items-center gap-4"
  style="min-height: calc(100vh - 100px)"
>
  <img
    src="images/undraw_create.svg"
    class="img-thumbnail d-none d-md-block"
    style="height: 386px; max-width: 100%"
    width="450px"
  />

  <form
    [formGroup]="registerForm"
    class="p-4 bg-white rounded"
    style="width: 100%; max-width: 350px; border: 1px solid #dee2e6"
    (ngSubmit)="register()"
  >
    <div class="mb-3">
      <label class="form-label text-dark">Usuário:</label>
      <input
        type="text"
        class="form-control mb-2"
        placeholder="Digite o nome de usuário"
        formControlName="nome"
        [maxlength]="30"
      />
      <div
        *ngIf="
          registerForm.get('nome')?.invalid && registerForm.get('nome')?.touched
        "
        class="text-danger"
      >
        <div
          class="alert alert-danger alert-small mb-2"
          role="alert"
          *ngIf="registerForm.get('nome')?.errors?.['required']"
        >
          O usuário é <strong>obrigatório.</strong>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label text-dark">Email:</label>
      <input
        type="email"
        class="form-control mb-2"
        placeholder="Digite seu e-mail"
        formControlName="email"
      />

      <div
        *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched"
        class="text-danger"
      >
        <div
          class="alert alert-danger alert-small mb-2"
          *ngIf="registerForm.get('email')?.errors?.['required']"
        >
          O e-mail é <strong>obrigatório.</strong>
        </div>
        <div
          class="alert alert-danger alert-small mb-2"
          *ngIf="registerForm.get('email')?.errors?.['invalidEmail']"
        >
          O e-mail é <strong>inválido.</strong>
        </div>
      </div>
    </div> <!-- Aqui está o fechamento da <div class="col-md-4"> -->

    <div class="mb-3 position-relative">
      <label class="form-label text-dark">Senha:</label>
      <div class="input-group">
        <input
          [type]="showPassword ? 'text' : 'password'"
          class="form-control"
          placeholder="Digite sua senha"
          formControlName="senha"
          [maxlength]="30"
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="togglePasswordVisibility()"
        >
          <i [ngClass]="showPassword ? 'bi bi-eye-slash-fill' : 'bi bi-eye-fill'"></i>
        </button>
      </div>
      <div
        *ngIf="
      registerForm.get('senha')?.invalid &&
      registerForm.get('senha')?.touched
    "
        class="text-danger"
      >
        <div
          class="alert alert-danger alert-small mb-2 mt-2"
          role="alert"
          *ngIf="registerForm.get('senha')?.errors?.['required']"
        >
          A senha é <strong>obrigatória.</strong>
        </div>
        <div
          class="alert alert-danger alert-small mb-2 mt-2"
          role="alert"
          *ngIf="registerForm.get('senha')?.errors?.['minlength']"
        >
          A senha deve ter no mínimo 12 caracteres.
        </div>
        <div
          class="alert alert-danger alert-small mb-2 mt-2"
          role="alert"
          *ngIf="registerForm.get('senha')?.errors?.['minlength']"
        >
          A senha deve conter letras maiúsculas, letras minúsculas, números e caracteres especiais.
        </div>
      </div>
    </div>

    <span class="pb-3 d-block">Registrar-se com:</span>

    <div class="d-flex flex-row gap-2">
      <button
        class="btn w-50"
        type="submit"
        style="background-color: #0b5389; color: #fff"
      >
        <i class="bi bi-envelope-fill"></i>
      </button>
      <button
        class="btn w-50"
        type="button"
        style="background-color: #0b5389; color: #fff"
      >
        <i class="bi bi-google"></i>
      </button>
    </div>
  </form>
</div>
