<div class="container-fluid main p-3">
  <h1 class="px-5"><strong>Cadastrar produto:</strong></h1>
  <div class="p-5">
    <div
      class="p-4 rounded"
      style="
        background-color: #e8e8e8;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      "
    >
      <form [formGroup]="registerProductForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label"><strong>*</strong> Categoria:</label>
            <div class="input-group mb-2">
              <select class="form-control" formControlName="productCategory">
                <option value="" disabled selected>Selecione uma categoria</option>
                <option value="MADEIRA">MADEIRA</option>
                <option value="ALIMENTOS">ALIMENTOS</option>
                <option value="LIMPEZA">LIMPEZA</option>
                <option value="ELETRONICOS">ELETRONICOS</option>
                <option value="ROUPAS">ROUPAS</option>
                <option value="COSMETICOS">COSMETICOS</option>
                <option value="UTENSILIOS">UTENSILIOS</option>
                <option value="FERRAMENTAS">FERRAMENTAS</option>
                <option value="OUTRO">OUTRO</option>
              </select>
            </div>
            <div
              *ngIf="registerProductForm.get('productCategory')?.invalid && registerProductForm.get('productCategory')?.touched"
              class="text-danger"
            >
              <div class="alert alert-danger alert-small mb-2">
                A categoria é <strong>obrigatória.</strong>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label"><strong>*</strong> SKU:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="sku"
                placeholder="YYY.Y.YY"
                mask="AAA.A.AA"
              />
            </div>
            <div
              *ngIf="registerProductForm.get('sku')?.invalid && registerProductForm.get('sku')?.touched"
              class="text-danger"
            >
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="registerProductForm.get('sku')?.errors?.['required']"
              >
                O SKU é <strong>obrigatório.</strong>
              </div>
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="registerProductForm.get('sku')?.errors?.['minlength']"
              >
                O SKU deve ter pelo menos 6 caracteres.
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <label class="form-label">Descrição:</label>
          <div class="input-group mb-2">
            <textarea
              class="form-control"
              formControlName="description"
              maxlength="50"
            ></textarea>
          </div>
        </div>

        <div class="col-md-12">
          <label class="form-label">Observação:</label>
          <div class="input-group mb-2">
            <textarea
              class="form-control"
              formControlName="observation"
              maxlength="50"
            ></textarea>
          </div>
        </div>

        <button
          type="submit"
          class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2 col-md-3"
          [disabled]="registerProductForm.invalid"
        >
          <i class="bi bi-save"></i>
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>
