<div class="container-fluid main p-3">
  <h1 class="px-5"><strong>Seu perfil:</strong></h1>

  <div class="p-5">
    <div
      class="p-4 rounded"
      style="
        background-color: #e8e8e8;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      "
    >
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <!-- Nome, E-mail e Telefone na primeira linha -->
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label"><strong>*</strong> Nome:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="name"
              />
              <button type="button" class="btn btn-success" (click)="toggleField('name')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            <div
              *ngIf="
                profileForm.get('name')?.invalid &&
                profileForm.get('name')?.touched
              "
              class="text-danger"
            >
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="profileForm.get('name')?.errors?.['required']"
              >
                O nome é <strong>obrigatório.</strong>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label"><strong>*</strong> E-mail:</label>
            <div class="input-group mb-2">
              <input
                type="email"
                class="form-control"
                formControlName="email"
              />
              <button type="button" class="btn btn-success" (click)="toggleField('email')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            <div
              *ngIf="
                profileForm.get('email')?.invalid &&
                profileForm.get('email')?.touched
              "
              class="text-danger"
            >
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="profileForm.get('email')?.errors?.['required']"
              >
                O e-mail é <strong>obrigatório.</strong>
              </div>
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="profileForm.get('email')?.errors?.['invalidEmail']"
              >
                O e-mail é <strong>inválido.</strong>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label"><strong>*</strong> Telefone:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="(??) ????-????"
                [mask]="'(00) 0000-0000'"
              />
              <button type="button" class="btn btn-success" (click)="toggleField('phone')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            <div
              *ngIf="
                profileForm.get('phone')?.invalid &&
                profileForm.get('phone')?.touched
              "
              class="text-danger"
            >
              <div class="alert alert-danger alert-small mb-2">
                Telefone <strong>inválido.</strong>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <!-- Empresa e CNPJ na segunda linha -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label"><strong>*</strong> Empresa:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="company"
                placeholder="QuoteFlow"
              />
            </div>
            <div
              *ngIf="
                profileForm.get('company')?.invalid &&
                profileForm.get('company')?.touched
              "
              class="text-danger"
            >
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="profileForm.get('company')?.errors?.['required']"
              >
                A empresa é <strong>obrigatória.</strong>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label"><strong>*</strong> CNPJ:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="cnpj"
                placeholder="00.000.000/0000-00"
                [mask]="'00.000.000/0000-00'"
              />
            </div>
            <div
              *ngIf="
                profileForm.get('cnpj')?.invalid &&
                profileForm.get('cnpj')?.touched
              "
              class="text-danger"
            >
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="profileForm.get('cnpj')?.errors?.['required']"
              >
                O CNPJ é <strong>obrigatório.</strong>
              </div>
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="profileForm.get('cnpj')?.errors?.['minlength']"
              >
                O CNPJ deve ter 18 caracteres.
              </div>
            </div>
          </div>
        </div>

        <!-- Enviar Button -->
        <button
          type="submit"
          class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2 col-md-3"
          [disabled]="profileForm.invalid"
        >
          <i class="bi bi-save"></i>
          Salvar
        </button>
      </form>
    </div>
  </div>
</div>
