<div class="container-fluid main p-3">
  <h1 class="px-5"><strong>Configurações:</strong></h1>

  <div class="p-5">
    <div class="alert alert-danger text-center" role="alert">
      Esta página está em construção.
    </div>
    <div
      class="p-4 rounded"
      style="
        background-color: #e8e8e8;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      "
    >
      <form>
        <button class="btn btn-primary">Trocar idioma para EN-US</button>
        <i class="bi bi-toggle-off"></i>

        <i class="bi bi-toggle-on"></i>
        <button class="btn btn-primary">Trocar idioma para BR</button>

        <br />
        <br />

        <button class="btn btn-primary">Apagar minha conta</button>

        <br />
        <br />

        <button class="btn btn-primary">Visualizar termos e condições</button>

        <br />
        <br />

        <span>QuoteFlow 2024 &copy;</span>
      </form>
    </div>
  </div>
</div>
