<div class="container-fluid main p-3">
  <h1 class="px-5"><strong>Cadastrar empresa:</strong></h1>

  <div class="p-5">
    <div
      class="p-4 rounded"
      style="
        background-color: #e8e8e8;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      "
    >
      <form [formGroup]="registerCompanyForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
          <div class="col-md-4">
            <label class="form-label"><strong>*</strong> Empresa:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="company"
                placeholder="QuoteFlow"
              />
              <button type="button" class="btn btn-success" (click)="toggleField('company')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            <div
              *ngIf="
                registerCompanyForm.get('company')?.invalid &&
                registerCompanyForm.get('company')?.touched
              "
              class="text-danger"
            >
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="registerCompanyForm.get('company')?.errors?.['required']"
              >
                A empresa é <strong>obrigatória.</strong>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label"><strong>*</strong> CNPJ:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="cnpj"
                placeholder="00.000.000/0000-00"
                [mask]="'00.000.000/0000-00'"
              />
              <button type="button" class="btn btn-success" (click)="toggleField('cnpj')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            <div
              *ngIf="
                registerCompanyForm.get('cnpj')?.invalid &&
                registerCompanyForm.get('cnpj')?.touched
              "
              class="text-danger"
            >
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="registerCompanyForm.get('cnpj')?.errors?.['required']"
              >
                O CNPJ é <strong>obrigatório.</strong>
              </div>
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="registerCompanyForm.get('cnpj')?.errors?.['minlength']"
              >
                O CNPJ deve ter 18 caracteres.
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label"><strong>*</strong> Telefone da empresa:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="(99) 9999-9999"
                [mask]="'(00) 0000-0000'"
              />
              <button type="button" class="btn btn-success" (click)="toggleField('phone')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            <div
              *ngIf="
                registerCompanyForm.get('phone')?.invalid &&
                registerCompanyForm.get('phone')?.touched
              "
              class="text-danger"
            >
              <div class="alert alert-danger alert-small mb-2">
                Telefone <strong>inválido.</strong>
              </div>
            </div>
          </div>

          <div class="col-md-4 mt-2">
            <label class="form-label"><strong>*</strong> E-mail da empresa:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="quoteflow@email.com"
              />
              <button type="button" class="btn btn-success" (click)="toggleField('email')">
                <i class="bi bi-pencil"></i>
              </button>
            </div>
            <div
              *ngIf="
                registerCompanyForm.get('email')?.invalid &&
                registerCompanyForm.get('email')?.touched
              "
              class="text-danger"
            >
              <div class="alert alert-danger alert-small mb-2">
                O email é <strong>obrigatório.</strong>
              </div>
            </div>
          </div>
        </div>

        <hr/>

        <div class="row mb-3">
          <div class="col-md-5">
            <label class="form-label">CEP:</label>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="postalCode"
                placeholder="01001-000"
                [mask]="'00000-000'"
              />
              <button type="button" class="btn btn-success input-group-append" (click)="toggleField('postalCode')">
                <i class="bi bi-pencil"></i>
              </button>
              <button
                type="button"
                class="btn btn-success input-group-append"
                (click)="searchPostalCode()"
              >
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Logradouro:</label>
            <input
              type="text"
              class="form-control mb-2"
              formControlName="street"
              [disabled]="true"
            />
          </div>
          <div class="col-md-6">
            <label class="form-label">Bairro:</label>
            <input
              type="text"
              class="form-control mb-2"
              formControlName="neighborhood"
              [disabled]="true"
            />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label">Cidade:</label>
            <input
              type="text"
              class="form-control mb-4"
              formControlName="city"
              [disabled]="true"
            />
          </div>
          <div class="col-md-6">
            <label class="form-label">Estado:</label>
            <input
              type="text"
              class="form-control mb-4"
              formControlName="state"
              [disabled]="true"
            />
          </div>

          <hr/>

          <div class="row mb-2">
            <div class="col-md-6">
              <label class="form-label">Complemento:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="complement"
                  [disabled]="true"
                />
                <button type="button" class="btn btn-success input-group-append" (click)="toggleField('complement')">
                  <i class="bi bi-pencil"></i>
                </button>
              </div>
            </div>
            <div class="col-md-3">
              <label class="form-label">Número:</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  formControlName="number"
                  [disabled]="true"
                />
                <button type="button" class="btn btn-success input-group-append" (click)="toggleField('number')">
                  <i class="bi bi-pencil"></i>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex gap-2">
          <button
            type="submit"
            class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2 col-md-3"
            [disabled]="registerCompanyForm.invalid"
          >
            <i class="bi bi-save"></i>
            Cadastrar
          </button>

          <a
            [routerLink]="['/dashboard/profile']"
            class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2 col-md-3"
            role="button"
          >
            <i class="bi bi-arrow-left"></i>
            Voltar
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
