<div class="container-fluid main p-3">
  <h1 class="px-5"><strong>Cadastrar produtos:</strong></h1>
  <div class="p-5">
    <div
      class="p-4 rounded"
      style="
        background-color: #e8e8e8;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
          rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      "
    >
      <form [formGroup]="registerProductForm" (ngSubmit)="onSubmit()">
        <!-- Linha com Categoria e SKU lado a lado -->
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label"><strong>*</strong> Categoria:</label>
            <div class="input-group mb-2">
              <select class="form-control" formControlName="productCategory">
                <option value="" disabled selected>Selecione uma categoria</option>
                <optgroup label="Materiais de Construção">
                  <option value="MADEIRA">Madeira</option>
                  <option value="FERRAMENTAS">Ferramentas</option>
                </optgroup>
                <optgroup label="Alimentos e Bebidas">
                  <option value="ALIMENTOS">Alimentos</option>
                </optgroup>
                <optgroup label="Produtos de Limpeza">
                  <option value="LIMPEZA">Limpeza</option>
                </optgroup>
                <optgroup label="Eletrônicos e Eletrodomésticos">
                  <option value="ELETRONICOS">Eletrônicos</option>
                </optgroup>
                <optgroup label="Vestuário">
                  <option value="ROUPAS">Roupas</option>
                </optgroup>
                <optgroup label="Beleza e Cuidados Pessoais">
                  <option value="COSMETICOS">Cosméticos</option>
                </optgroup>
                <optgroup label="Utensílios Domésticos">
                  <option value="UTENSILIOS">Utensílios</option>
                </optgroup>
                <optgroup label="Outros">
                  <option value="OUTRO">Outro</option>
                </optgroup>
              </select>
            </div>
            <div
              *ngIf="registerProductForm.get('productCategory')?.invalid && registerProductForm.get('productCategory')?.touched"
              class="text-danger"
            >
              <div class="alert alert-danger alert-small mb-2">
                A categoria é <strong>obrigatória.</strong>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label class="form-label"><strong>*</strong> SKU:</label>
            <div class="input-group mb-2">
              <input
                type="text"
                class="form-control"
                formControlName="sku"
                placeholder="YYY.Y.YY"
                mask="AAA.A.AA"
              />
            </div>
            <div
              *ngIf="registerProductForm.get('sku')?.invalid && registerProductForm.get('sku')?.touched"
              class="text-danger"
            >
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="registerProductForm.get('sku')?.errors?.['required']"
              >
                O SKU é <strong>obrigatório.</strong>
              </div>
              <div
                class="alert alert-danger alert-small mb-2"
                *ngIf="registerProductForm.get('sku')?.errors?.['minlength']"
              >
                O SKU deve ter 6 caracteres.
              </div>
            </div>
          </div>
        </div>

        <!-- Descrição -->
        <div class="col-md-12 mb-3">
          <label class="form-label"><strong>*</strong> Descrição:</label>
          <div class="input-group mb-2">
            <textarea
              class="form-control"
              formControlName="description"
              [maxlength]="100"
              placeholder="Nome do produto"
            ></textarea>
          </div>
        </div>

        <hr/>

        <!-- Variação -->
        <div class="col-md-12 mb-3">
          <label class="form-label">Variação:</label>
          <div class="input-group mb-2">
            <textarea
              type="text"
              class="form-control"
              formControlName="variation"
              [maxlength]="50"
              placeholder="Exemplo.: Cadeira com braço / Cadeira sem braço"
            ></textarea>
          </div>
        </div>

        <!-- Observação -->
        <div class="col-md-12 mb-3">
          <label class="form-label">Observação:</label>
          <div class="input-group mb-2">
            <textarea
              class="form-control"
              formControlName="observation"
              [maxlength]="70"
            ></textarea>
          </div>
        </div>

        <!-- Botões -->
        <div class="d-flex gap-2">
          <button
            type="submit"
            class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2 col-md-6"
            [disabled]="registerProductForm.invalid"
          >
            <i class="bi bi-save"></i>
            Cadastrar
          </button>

          <a
            [routerLink]="['/dashboard/products']"
            class="btn btn-success mt-5 d-flex align-items-center justify-content-center gap-2 col-md-6"
            role="button"
          >
            <i class="bi bi-arrow-left"></i>
            Voltar
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
